@media (max-width:768px) {
    .width {
        width:50vw !important;
    }
    .widht {
        width: 48vw !important;
    }
}

@media (max-width:576px) {
    .width {
        width:50vw !important;
    }
    .widht {
        width: 75vw !important;
    }
}

@media (max-width:390px) {
    .width {
        width:65vw !important;
    }
    .widht {
        width: 87vw !important;
    }
}